
.dashboard-page-container{
    overflow-x: hidden;
}



/* Header */

.dashboard-page-header-container{
    position: relative;
    text-align: center;
    overflow-x: hidden;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafafa;
}

.header-image {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    filter: brightness(70%); 
}



/* Classes */

.dashboard-body-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dashboard-class-container{
    display: flex; 
    justify-content: space-around;
    
}





/* Card Item */

.dashboard-link-style{
    color: black;
}
.dashboard-link-style:hover{
    text-decoration: none;
    color: black;
}

.card-item-container{
    width: 340px;
    height: 400px;
    border-radius: 15px;
    margin: 30px;
    background-color: #f1f1f1;
    -webkit-filter: drop-shadow(2px 2px 2px #222222);
    filter: drop-shadow(2px 2px 2px #222222)
}

.card-item-image{
    border-radius: 15px 15px 0 0 ;
    width: 340px;
    height: 200px;
    object-fit: cover;
    filter: brightness(70%); 
}

.card-item-title{
    margin: 10px;
}

.card-item-subtitle{
    margin: 5px 10px;
    font-size: 1.2rem;
}